@import '_variables';


* {
    background-color: #4d5236; /*#725752;*/
    color: whitesmoke;
    justify-content: center;
    text-align: center;
}

it{font-style: oblique; color: #d5f0ff; font-size: 900;}

a {color: rgb(247, 215, 31); text-decoration: none;}

a:hover {text-decoration: underline;}

a:active {color: beige;}

body {
    display: flexbox;
    font-size: 23px;
    font-family: $fonts1;
}

body p, ol li, ul li {line-height: 2.9em;}


h1, h3, h5 {
    font-family: $fonts2;
    line-height: 1.8em;
    font-weight: bolder;
}

h1 {
    display: inline-block;
    font-size: 2.5em;
    color: beige;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 3px solid #96c7e3;
    border-radius: 50px;
    background: linear-gradient(to right, black,#3a6883);
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-inline: 3.5px;
    min-width: 30%;
}

h3 {
    color: #c1a95c; font-size: 1.7em; text-shadow: 2px 5px 30pX black;
    margin-top: 1.5em;
}


h4 {
    font-size: 1em; color: whitesmoke;
    border-radius: 30px;
    width: 90px;
    text-align: center;
    justify-content: center;
    margin-left: 7px;
    font-family: $fonts3;
    background-color: black;
    border: 3px solid #96c7e3;
    border-radius: 50px;
    background: linear-gradient(to right, black,#085886);
}

h5 {font-family: $roboto;  color: #bbe6ff; font-size: 1.4em; text-shadow: 2px 1px 50pX rgb(194, 147, 29);
    letter-spacing: 0.1em}

hr {
    border: 4px solid black;;
    border-radius: 30px;
    margin-top: 2em;
    height: 20px;
    width: 70%;
    background: linear-gradient(to right, black, blue, white);
    background-size: 200% 100%;
    animation: loading 2s infinite;
}

@keyframes loading {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}

.loading {color:goldenrod; text-shadow: 2px 5px 30pX black;}

nav {background-color: beige;
position: fixed;
display: block;
left: 0;
top: 0;
width: 120px;
height: 100%;
overflow-y:scroll;
scroll-behavior:auto;
overflow-x:unset;
}


main {display: block;
    padding-left: 124px;
    left: 120px;
    top: 0;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {padding-top: 5px;}

ol li:first-child {padding-top: 0;}

li {padding-bottom: 25px;}

p {padding-bottom: 20px;}

nav li {line-height: 30px;}

nav ul {padding-top: 20px;}

i {color:white;}

@keyframes lampeggia {
    0% {
        color: aqua;
    }
    33% {
        color: lightskyblue
    }
    66% {
        color: #2caeef
    }
    100% {color: aquamarine
    }
    }

    em {
        width: 100px;
        height: 100px;
        animation: lampeggia 2s infinite;
    }



.profile_img {
    border-radius: 175px;
    display: block;
    margin: 20px auto;
    width: 60%;
    border: 2px solid white;
    box-sizing: border-box;
    margin-top: 0;
}

.flag {width: 2em; margin-top: -10px; padding-top: 0;}

.star {width:0.7em; background-color: transparent;}

.svg {display: inline-block; width: 1em; padding-top: 20px;}

ol {left: 0;
margin-left: 0;}

ol li{justify-content: start;
text-align: start;
padding: 0;
padding-top: 10px;
margin: 0;}

.ndlist {list-style-type:lower-greek}

form {display: flexbox; width: auto;
flex-direction:column;
width: 100vw;
} /*form part is covered by bootstrap but I leave this here for a secondary style option*/
textarea {width: 90%;}

@media only screen and (max-width: 500px) {
    body {display:block;
        position: absolute;
        margin-left: 0;
        font-size: 18px;
    }

    main {display: block;
        padding-left: 2px;
        padding-right: 4px;
        left: 4px;;
        top: 60px;
        margin-top: 70px;
    }


    nav  {font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    margin: 0;
    padding-bottom: 0;
    align-items: flex-center;
width: 100%;
height: 50px;

overflow-x: scroll;
scroll-behavior: auto;
overflow-y: hidden;}

nav ul {display: flex;
    margin-left: 3px;
    text-align:start;
    justify-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 500px;
}

nav ul li {display: inline-block;}

}

@media only screen and (max-width: 300px) {
    body {font-size: 13px; margin-top: 0; padding-top:0;}
    main {position: absolute; top: 0;
        padding-left: 2px;
        padding-right: 1.5px;
        margin-left: 0;
        left: 0;
        padding-right: 0;}
    body ol  {padding-left: 18px;
        margin-left:0;
    border-left: 0;}
    nav { position: -webkit-sticky; /* For Safari */
        position: sticky;
        top: 0;
        width: 95vw;
    }
}

@media only screen and (max-width: 270px) {
    body {
    font-size: 12px;
    }
}